<div class="card devise-card">
  <h2>パスワードをお忘れですか？</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group devise-option">
      <%= f.label :email, class: 'bmd-label-floating' %><br />
      <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "再設定パスワード送信" , class: 'btn btn-primary btn-raised'%>
    </div>
  <% end %>

  <div class="devise-share">
    <%= render "devise/shared/links" %>
  </div>
</div>
