<div class="books_wrapper">
  <h2>未読書籍一覧はこちら</h2>
  <table>
    <tr>
      <th>書籍名</th>
      <th>著者名</th>
      <th>ステータス</th>
      <th>読破予定期間</th>
      <th>編集</th>
    </tr>
    <% @not_done_books.each do |book| %>
      <tr>
        <td><%= link_to book.title, not_done_book_path(book) %></td>
        <td><%= book.author %></td>
        <td><%= book.status%></td>
        <td><%= book.reading_expired %></td>
        <td><%= link_to '編集する', edit_not_done_book_path(book) %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to '新規未読書籍登録', new_not_done_book_path %>
</div>
