<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card top-card">
          <div class="card-header">
            <%= "#{current_user.name} さんのステータス" %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">直近30日の読破数: <%= current_user.finished_books.where(created_at: DateTime.now - 30..DateTime.now).count %>冊 </li>
            <li class="list-group-item">読破済み書籍数: <%= current_user.finished_books.count %>冊</li>
            <li class="list-group-item list-alert">処分期限超過書籍数: <%= current_user.finished_books.where('status = ? AND desposal_expired < ?', 2, DateTime.now).count %>冊</li>
          </ul>
          <div class="card-footer">
            <small><%= link_to 'マイページ', user_path(current_user), class: 'btn btn-primary', data: {turbolinks: false} %> </small>
            <small><%= link_to '気になる書籍一覧', concern_books_path, class: 'btn btn-primary', data: {turbolinks: false} %> </small>
          </div>
        </div>
      </div>
      <div class="offset-sm-1 col-sm-8 top-main">
        <div class="card top-main-card">
          <div class="card-body main-card">
            <h5 class="card-title">Step1 購入した書籍の登録</h5>
            <p class="card-text">購入した書籍を検索しましょう！</p>
            <p class="card-text">書籍情報がない場合は<%= link_to 'こちら', new_unread_book_path %></p>
            <%= link_to '書籍検索', search_unread_books_path, class: 'btn btn-primary' %>
          </div>
        </div>
        <div class="card top-main-card">
          <div class="card-body main-card">
            <h5 class="card-title">Step2 読書中の書籍を管理</h5>
            <p class="card-text">現在読書中の書籍は読書書籍として管理しましょう！</p>
            <p class="card-text">進捗状況を記入してメモ書きもできます</p>
            <%= link_to '読書中書籍確認', reading_books_unread_books_path, class: 'btn btn-primary' %>
          </div>
        </div>
        <div class="card top-main-card">
          <div class="card-body main-card">
            <h5 class="card-title">Step3 読破した書籍を管理</h5>
            <p class="card-text">読み終わった書籍は既読書籍に移しましょう！</p>
            <p class="card-text">保管する書籍と処分する書籍に分けて本棚を綺麗に管理しましょう！</p>
            <%= link_to '既読書籍確認', finished_books_path, class: 'btn btn-primary' %>
          </div>
        </div>
        <div class="card top-main-card">
          <div class="card-body main-card">
            <h5 class="card-title">And more 他のユーザーと交流しよう！</h5>
            <p class="card-text">気になるユーザー、興味のある本を探してみましょう！</p>
            <%= link_to '他ユーザーの書籍一覧', others_finished_books_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="top-image">
    <h1>快適な読書ライフを送る</h1>
    <%= link_to 'ログインへ', new_user_session_path, role: 'button',  class: 'btn btn-raised btn-primary btn-lg' %>
    <%= link_to '新規登録', new_user_registration_path, role: 'button', class: 'btn btn-raised btn-success btn-lg' %>
  </div>
<% end %>
