<div class="books_wrapper">

  <div class="container">
    <div class="row">
      <div class="col-sm-2 search-index-form">
        <h5 class="index-search-title">書籍検索</h5>
        <%= search_form_for @q, url: disposal_finished_books_path do |f| %>
          <div class="form-group index-search">
            <%= f.label :title_or_author_cont, 'キーワード', class: 'bmd-label-floating' %>
            <%= f.search_field :title_or_author_cont, class: 'form-control' %>
          </div>

          <%= f.submit '検索', class: 'btn btn-primary btn-raised' %>
        <% end %>
        <%= link_to '検索結果を戻す', disposal_finished_books_path, class: 'btn btn-warning', data: {turbolinks: false} %>
      </div>

      <div class="col-sm-10 index-table">
        <div class="index-table-content">
          <h2 class="unread-top">処分予定書籍</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="book-title" style="width: 30%">書籍名</th>
                  <th class="book-description" style="width: 13%">ユーザー名</th>
                  <th class="book-description" style="width: 15%">処分予定時期</th>
                  <th class="book-description" style="width: 20%">メッセージを送る</th>
                  <th class="book-description" style="width: 22%">お気に入り</th>
                </tr>
              </thead>
              <tbody>
                <% @finished_books.each do |book| %>
                  <tr>
                    <td class="book-title"><%= link_to book.title, finished_book_path(book), class: 'book-info' %>
                      <div class="only-responsive">
                        <%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: book.user.id), method: :post, class: 'btn btn-primary btn-sm' %>
                        <% if current_user.concerned?(book) %>
                          <%= link_to '気になる書籍から外す', concern_book_path(current_user.concern_books.find_by(finished_book_id: book.id)), method: :delete, class: 'btn btn-warning btn-sm' %>
                        <% else %>
                          <%= link_to '気になる書籍に追加する', concern_books_path(finished_book_id: book.id), method: :post, class: 'btn btn-success btn-sm' %>
                        <% end %>
                      </div>
                    </td>
                    <td class="book-description"><%= link_to book.user.name, user_path(book.user) %></td>
                    <td class="book-description"><%= book.desposal_expired %></td>
                    <td class="book-description"><%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: book.user.id), method: :post, class: 'btn btn-primary btn-sm btn-raised' %></td>
                    <% if current_user.concerned?(book) %>
                      <td class="book-description"><%= link_to '気になる書籍から外す', concern_book_path(current_user.concern_books.find_by(finished_book_id: book.id)), method: :delete, class: 'btn btn-warning btn-sm btn-raised' %></td>
                    <% else %>
                      <td class="book-description"><%= link_to '気になる書籍に追加する', concern_books_path(finished_book_id: book.id), method: :post, class: 'btn btn-success btn-raised btn-sm' %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        <%= paginate @finished_books %>
        </div>
      </div>
    </div>
  </div>
</div>
