<div class="books_wrapper">
  <h2>既読書籍一覧</h2>
  <table>
    <tr>
      <th>書籍名</th>
      <th>著者名</th>
      <th>ステータス</th>
      <th>処分予定時期</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
    <% @finished_books.each do |book| %>
      <tr>
        <td><%= link_to book.title, finished_book_path(book) %></td>
        <td><%= book.author %></td>
        <td><%= book.status %></td>
        <td><%= book.desposal_expired %></td>
        <td><%= link_to '編集する', edit_finished_book_path(book) %></td>
        <td><%= link_to '削除する', finished_book_path(book), method: :delete, data: {confirm: '本当に削除しますか？'} %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to '新規未読書籍登録', new_unread_book_path %>
</div>
