<% if @finished_book.errors.present? %>
  <ul>
    <% @finished_book.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @finished_book, local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div>
    <%= tag_image @finished_book.image.url, if @finished_book.image.present? %>
    <%= f.text_field :author %>
  </div>

  <div>
    <%= f.label :status %>
    <%= f.select :status, FinishedBook.statuses.keys, selected: FinishedBook.statuses[@finished_book.status] %>
  </div>

  <div>
    <%= f.label :desposal_expired %>
    <%= f.date_select(
                  :desposal_expired,
                  use_year_number: true,
                  use_month_number: true,
                  use_day_number: true,
                  start_year: Time.now.year,
                  end_year: Time.now.year + 10
    ) %>
  </div>

  <div>
    <%= f.label :impression %>
    <%= f.text_area :impression %>
  </div>

  <%= f.fields_for @unread_book do |i| %>
    <%= i.hidden_field :id %>
  <% end %>
  <%= f.submit %>
<% end %>
