<h2 class="unread-top">読破書籍登録画面</h2>

<% if @finished_book.errors.present? %>
  <ul>
    <% @finished_book.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="unread_form_wrapper">
  <%= form_with model: @finished_book, local: true do |f| %>
    <div>
      <% if @image.present? %>
        <%= image_tag @image %>
      <% else %>
        <%= image_tag "no_image.png", size: '140x200' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :title, class: 'bmd-label-floating' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :author, class: 'bmd-label-floating' %>
      <%= f.text_field :author, class: 'form-control' %>
    </div>


    <div class="form-group select-form">
      <%= f.label :status, class: 'bmd-label-floating' %>
      <%= f.select :status, FinishedBook.statuses.keys.map {|k| [I18n.t("enums.finished_book.status.#{k}"), k]}, { selected: FinishedBook.statuses[@finished_book.status] }, {class: 'custom-select', id: 'finish_status'} %>
    </div>

    <div class="form-group select-date">
      <%= f.label :desposal_expired, class: 'bmd-label-floating' %>
      <%= f.date_field :desposal_expired, id: 'disposal_disabled', disabled: true %>
    </div>

    <div class="form-group">
      <%= f.label :tag_list, class: 'bmd-label-floating' %>
      <%= text_field_tag 'finished_book[tag_list]', @finished_book.tag_list.join(","), class: 'form-control', placeholder: 'タグを複数入力する場合は「,」で区切ってください' %>
    </div>

    <div class="form-group">
      <%= f.label :impression, class: 'bmd-label-floating' %>
      <%= f.text_area :impression, class: 'form-control', rows: '5' %>
    </div>
    <%= f.fields_for @unread_book do |i| %>
      <%= i.hidden_field :id %>
    <% end %>

    <%= f.submit '登録する', class: 'btn btn-primary' %>
  <% end %>
</div>
