<div class="books_wrapper">
  <h2>他ユーザーが読んだ書籍</h2>
  <%= search_form_for @q do |f| %>
    <%= f.label :title_or_author_cont, 'タイトルか著者名' %>
    <%= f.search_field :title_or_author_cont %>

    <%= f.label :status_eq, 'ステータス' %>
    <%= f.select :status_eq, FinishedBook.statuses, include_blank: true, selected: '' %>

    <%= f.submit %>
  <% end %>

  <table>
    <tr>
      <th>書籍名</th>
      <th>著者名</th>
      <th>ユーザー名</th>
      <th>ステータス</th>
      <th>処分予定時期</th>
      <th>メッセージを送る</th>
    </tr>
    <% @finished_books.each do |book| %>
      <tr>
        <td><%= link_to book.title, finished_book_path(book) %></td>
        <td><%= book.author %></td>
        <td><%= link_to book.user.name, user_path(book.user) %></td>
        <td><%= book.status %></td>
        <td><%= book.desposal_expired %></td>
        <td><%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: book.user.id), method: :post %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to '新規未読書籍登録', new_unread_book_path %>
</div>
