<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card top-card">
        <div class="card-header">
          <%= "#{current_user.name} さんのステータス" %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">直近30日の読破数: <%= current_user.finished_books.where(created_at: DateTime.now - 30..DateTime.now).count %>冊 </li>
          <li class="list-group-item">読破済み書籍数: <%= current_user.finished_books.count %>冊</li>
          <li class="list-group-item list-alert">処分期限超過書籍数: <%= current_user.finished_books.where('status = ? AND desposal_expired < ?', 2, DateTime.now).count %>冊</li>
        </ul>
        <div class="card-footer">
          <small><%= link_to 'マイページ', user_path(current_user), class: 'btn btn-primary' %> </small>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <h2 class="unread-top">書籍詳細画面</h2>
      <div class="card unread-card">
        <div class="row">
          <div class="col-4">
            <% if @finished_book.image.present? %>
              <%= image_tag @finished_book.image.url, size: '140x200' %><br>
              <span class="google-note">by Google Search</span>
            <% else %>
              <%= image_tag "no_image.png", size: '140x200' %>
            <% end %>
          </div>
          <div class="col-8">
            <ul class="unread-list">
              <li class="unread-content">書籍名：<%= @finished_book.title %></li>
              <li class="unread-content">著者名：<%= @finished_book.author %></li>
              <li class="unread-content">処分予定日：<%= @finished_book.desposal_expired %></li>
              <li class="unread-content">ステータス：<%= I18n.t("enums.finished_book.status")[:"#{@finished_book.status}"] %></li>
              <% if @finished_book.tags.present? %>
                <li class="unread-content">
                  タグ：<% @finished_book.tags.each do |tag|%>
                    <span class="book-tag badge badge-pill badge-primary"><%= tag %></span>
                  <% end %>
                </li>
              <% end %>
              <li class="unread-content">感想：<%= @finished_book.impression %></li>
            </ul>
            <% if current_user == @finished_book.user %>
              <%= link_to '編集する', edit_finished_book_path(@finished_book), class: 'btn btn-info' %>
              <%= link_to '削除する', finished_book_path(@finished_book), method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="progress-wrapper">
  <h3 class="unread-top"><i class="material-icons progress-icon"> comment </i>コメント一覧</h3>
  <%= form_with(model: @comment) do |f| %>
    <div class="form-group">
      <%= f.label :content, 'コメント', class: 'bmd-label-floating'  %>
      <%= f.text_area :content, class: 'form-control', rows: '5' %>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: 'hidden' %>
    <%= f.text_field :finished_book_id, value: @finished_book.id, type: 'hidden' %>

    <%= f.submit '投稿する', class: 'btn btn-primary' %>
  <% end %>

  <ul class="progress-list">
    <% @comments.each do |comment| %>
      <% if comment.id.present? %>
        <i class="material-icons">
          comment
        </i>
        <li class="progress-content"><%= comment.content %></br><%= comment.comment_time %>  投稿者：<%= comment.user.name %></li>
      <% end %>
    <% end %>
  </ul>
  <%= paginate @comments, class: 'progress-paginate' %>
</div>
