<h2>書籍詳細画面</h2>
<ul>
  <li>書籍名：<%= @finished_book.title %></li>
  <li>著者名：<%= @finished_book.author %></li>
  <li>処分予定日：<%= @finished_book.desposal_expired %></li>
  <li>ステータス：<%= @finished_book.status %></li>
  <li>感想等：<%= @finished_book.impression %></li>
</ul>

<% if @comments.present? %>
  <ul>
    <% @comments.each do |comment| %>
      <li><%= comment.content %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @comment) do |f| %>
  <%= f.label :content, 'コメント' %>
  <%= f.text_area :content %>

  <%= f.text_field :user_id, value: current_user.id, type: 'hidden' %>
  <%= f.text_field :finished_book_id, value: @finished_book.id, type: 'hidden' %>

  <%= f.submit %>
<% end %>
