<% if book.errors.present? %>
  <ul>
    <% book.errors.full_messages.each do |msg|%>
      <li><%= msg%></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: book, local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div>
    <%= f.label :status %>
    <%= f.select :status, UnreadBook.statuses.keys, selected: UnreadBook.statuses[book.status] %>
  </div>

  <div>
    <%= f.label :reading_expired %>
    <%= f.date_select(
                  :reading_expired,
                  use_year_number: true,
                  use_month_number: true,
                  use_day_number: true,
                  start_year: Time.now.year,
                  end_year: Time.now.year + 10
    ) %>
  </div>

  <%= f.submit %>
<% end %>
