<table>
  <tr>
    <th>書籍名</th>
    <th>著者名</th>
    <th>読破期限</th>
    <th>未読書籍に戻す</th>
    <th>読破ボタン</th>
  </tr>
  <% @reading_books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.reading_expired %></td>
      <td><%= link_to '未読へ', return_unread_book_path(book), method: :patch, data: { confirm: '本当に未読に戻しますか？'}  %></td>
      <td><%= link_to '読破', new_finished_book_path(params: { id: book.id, title: book.title, author: book.author }) %></td>
    </tr>
  <% end %>
</table>
  <%= paginate @reading_books %>

<ul>
  <% @progresses.each do |progress| %>
    <% if progress.id.present? %>
      <li><%= progress.content %><%= link_to '削除', progress_path(progress), method: :delete, data: { confirm: '削除してよろしいですか？' } %></li>
    <% end %>
  <% end %>
</ul>

<%= form_with(model: @progress) do |f| %>
  <%= f.label :content, '進捗メモ' %>
  <%= f.text_area :content %>

  <%= f.submit %>
<% end %>
