<h2>書籍詳細画面</h2>
<ul>
  <li>書籍名：<%= @unread_book.title %></li>
  <li>著者名：<%= @unread_book.author %></li>
  <li>読破期限：<%= @unread_book.reading_expired %></li>
  <li>ステータス：<%= @unread_book.status %></li>
  <% if @unread_book.image.present? %>
    <li>画像<%= image_tag @unread_book.image.url %><br>
    by Google Search</li>
  <% else %>
    <li><%= image_tag "no_image.png", size: '128x201' %> </li>
  <% end %>
</ul>
                  <td><%= link_to '編集する', edit_unread_book_path(book) %></td>
                  <td><%= link_to '削除する', unread_book_path(book), method: :delete, data: {confirm: '本当に削除しますか？'} %></td>
