<h2>トップページ</h2>

<% if user_signed_in? %>
  <%= link_to '未読書籍一覧画面へ', unread_books_path %>
  <%= link_to '読書中書籍一覧へ', reading_books_unread_books_path %>
  <%= link_to '既読書籍一覧へ', finished_books_path %>
  <%= link_to 'メッセージスレッドへ', conversations_path %>
  <%= link_to 'プロフィール編集', edit_user_registration_path %>
  <%= link_to '他ユーザーが読んだ書籍一覧', others_books_finished_books_path %>
  <%= link_to 'マイページ', user_path(current_user) %>
<% end %>
